body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #422975;
}

.todo-container {
  background: #eda837;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#addTask {
  padding: 10px 15px;
  background: #1da228;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#clearAll {
  width: 100%;
  padding: 10px 15px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
#clearAll:hover {
  background: #a71d2a;
}


#addTask:hover {
  background: #206c2d;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

button.delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button.delete:hover {
  background: #a71d2a;
}
